<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikkasstoreapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditItemActivity"></activity>
        <activity
            android:name=".AllPurchasesActivity"
            android:label="All Purchase" />
        <activity
            android:name=".AddItemActivity"
            android:label="Add an Item"
            android:parentActivityName=".ItemlistActivity" />
        <activity
            android:name=".ItemlistActivity"
            android:label="All Merchandise" />
        <activity
            android:name=".EmployeeList2Activity"
            android:label="All Employees" />
        <activity
            android:name=".AllMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>